body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    color: #353535;
}

h1{
    text-align: center;
}

.Button{
    font-size: 1.2rem;
    font-weight: 700;
    border: none;

    color: #E0E0E0;

    background-color: #284B63;
    transition-duration: .3s;

    margin-right: 1.1rem;
    
}

.Button1:Hover{
    color: #353535;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    background-position: center;
    background-position: cover;
}

.VerticalCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.Square{
    position: fixed;

    margin-bottom: 0;
    padding-bottom: 0;
    line-height: lem;

    width: 100%;
    height: 75px;

    background-color: #284B63;
    z-index: 1;
}

.Background{
    background-attachment: fixed;
    text-align: center;
    display: auto;
}

.Contact{
    
    width: 100%;
    height: 1000px;

    background-color: #353535;
    text-align: center;
}

.ContactSymbols{

    z-index: 0;
    display: table-row;
    margin: auto;

    width: 7.5%;
    height: 10%;
    filter: invert(100%) sepia(76%) saturate(176%) hue-rotate(323deg) brightness(115%) contrast(76%);
}

