body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    color: #E0E0E0;
    background-color: #353535;

}

h1{
    position: absolute;
}

p1{
    position: absolute;
    padding-top: 5rem;
}

.Button{
    font-size: 1.1rem;
    font-weight: 700;
    border: none;

    color: #E0E0E0;

    background-color: #284B63;
    transition-duration: .3s;

    margin-right: 1.1rem;
    
}

.Button1:Hover{
    color: #353535;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;


    background-position: center;
    background-position: cover;
}

.VerticalCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.Square{
    position: fixed;

    margin-bottom: 0;
    padding-bottom: 0;
    line-height: lem;

    width: 100%;
    height: 75px;

    background-color: #284B63;
    z-index: 1;
}

.Background{

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    object-fit: cover;
    position: fixed;

    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact{

    background-color: #353535;

    margin-top: 35rem;

    top: 100%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
    position: absolute;

    width: 100%;
    height: 1000px;
}

.ContactSymbols{

    z-index: 0;
    display: table-row;

    width: 7.5%;
    height: 25%;
    filter: invert(100%) sepia(76%) saturate(176%) hue-rotate(323deg) brightness(115%) contrast(76%);
}
